@import url(https://fonts.googleapis.com/css?family=Nunito:400,300);
@import url(https://fonts.googleapis.com/css?family=Sigmar+One);

html{
	height: 100%;
}
body {
  margin: 0;
  padding: 0;
  font-family: 'Sigmar One', cursive;
  letter-spacing: 0.7px;
  font-size: 16px;
  background: url(/static/images/background.jpg) center no-repeat;
  background-size: cover;
}
.wrapper {
	max-width: 610px;
	margin: 0 auto;
}
.mobile-wrapper {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
    margin: auto;
    width: auto;
    max-width: 415px;
    text-align: center;
    height: 115px;
    font-size: 32px;
    line-height: 1.2;
    padding: 9px;
    color: #1f3c27;
    text-shadow: 1px 1px 1px rgb(249, 252, 183);
}
.container {
	width: 100%;
	max-width: 432px;
	margin: 0 auto;
	text-align: center;

	&.home {
		max-width: 610px;
	}
}
.clearfix {
    *zoom: 1;
    &:before,
    &:after {
        display: table;
        content: "";
        line-height: 0;
    }
    &:after {
        clear: both;
    }
}